# 10-04-2024

- doing some modification just fro github purpose only

# STEP-1 
- IMPORT OUR PACKAGES

In [2]:
import numpy as nmy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# STEP-2

- READ THE DATA

In [17]:
path=r"C:\Users\kragh\OneDrive\DATA SCIENCE NIT\Data Files\winequality_red - winequality_red.csv"
wine_df=pd.read_csv(path)
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3193,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3197,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

- IF WE GET NAN VALUES LIKE THIS NOW USE THIS METHOD AS

In [4]:
wine_df.dropna(inplace=True)
wine_df.reset_index(drop=True,inplace=True)
wine_df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0

- NOW PERFORM End To End EDA & CONVERT CATEGORICAL DATA TO NUMERICAL 
- BECAUSE ML TAKES ONLY NUMERICAL

In [5]:
# CHECK THE BASIC THINGS
wine_df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
wine_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [7]:
wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                 float64
dtype: object

In [8]:
wine_df.shape

(1599, 12)

# STEP-3

- NOW DIVIDE THE DATA INTO INPUT DATA & OUTPUT DATA
- X & Y
- X_Train & Y_Train Data Which is used to Train the data
- Also divide the Data to X_Test & Y_test Data
- X_Train & Y_Train are used to Train the model
- Now we will pass x_test data Model will give Y_per
- this y_Per we will compare with Y_test

In [9]:
# DIVIDE TO X AND Y
# here x= all columns except Traget column
# here y= target column

In [16]:
x=wine_df.drop('quality',axis=1)
y=wine_df['quality']
#OUR X AND Y is ready

# STEP-4

- NOW WE SHOULD DIVIDE THE DATA INTO TRAIN DATA & TEST DATA
- THIS WE CAN ACHIVE BY USING SKLEARN PACKAGE
- THAT IS
    - FROM SKLEARN.MODEL_SELECTION IMPORT train_test_split
    - IT TAKES SOME ARGUMENTS 
    - 1) ARRAYS= OUR X,Y
    - 2) TEST_SIZE=how much test data we need = example .30 = 30%
    - 3) BY DEFAULT ITS TAKES 75% TRAIN & 25% TEST
    - 4) random_state = THEIR ARE MANY POSSIBILITY TO DRAW THE DATA SO PASS ANY NUMBER EX:=49,100,230 etc 
- ALSO WE SHOULD PASS VARABLES TO THE MATHOD==
- 1)X_Train,X_Test,Y_train,X_Test=train_test_split((here give all the above parameters))

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=7)

- now test_data should be 30%
- how to check ==
- %*total_observations/100
- 30*1599/100

In [11]:
30*len(wine_df)/100

479.7

In [12]:
70*len(wine_df)/100

1119.3

- WE SHOULD GET 480 OBSERVATIONS
- LETS CHECK

# CHECK LEN AND SHAPE

In [13]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

1119
480
1119
480

**SHAPE**

In [14]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1119, 11)
(480, 11)
(1119,)
(480,)

- LETS CHECK BOTHS X-TRAIN,Y-TRAIN
- ALSO X_TEST,Y_TEST INDEX ARE MATCHING OR NOT

In [15]:
x_train.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
913,9.4,0.395,0.46,4.6,0.094,3.0,10.0,0.99639,3.27,0.64,12.2
562,9.0,0.540,0.49,2.9,0.094,41.0,110.0,0.99820,3.08,0.61,9.2

In [16]:
y_train.head(2)

913    7.0
562    5.0
Name: quality, dtype: float64

In [17]:
# now test data

In [18]:
x_test.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1526,6.8,0.47,0.08,2.2,0.064,18.0,38.0,0.99553,3.30,0.65,9.6
674,10.8,0.40,0.41,2.2,0.084,7.0,17.0,0.99840,3.08,0.67,9.3

In [19]:
y_test.head(2)

1526    6.0
674     6.0
Name: quality, dtype: float64

# STEP-5

- MODEL DEVELOPMENT
- TRAIN THE MODEL WITH OUR X_TRAIN,Y_TRAIN

- IMPORT THE PACKAGE
- SAVE THE PACKAGE
- APPLY FIT TRANSFORM

- MODEL_NAME=LINER_REGRESSION
- FROM SKLEARN.LINEAR_MODEL IMPORT LINEAR REGRESSION
- LR=LINEAR_REGRESSION()
- LR.FIT(X_TRAIN,Y_TRAIN)

In [21]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

- OUR COEFFICIENTS== b1,b2------etc

In [22]:
LR.coef_

array([ 4.80373395e-02, -1.19676516e+00, -3.85140022e-01,  1.91041449e-02,
       -1.41392449e+00,  3.83178674e-03, -3.08112024e-03, -2.90731341e+01,
       -4.93283094e-01,  7.59125789e-01,  2.92476803e-01])

- OUR INTERCEPT

In [79]:
LR.intercept_

33.202378665622966

- NOW OUR MODEL IS READY

# STEP-6

- MODEL IS READY AND WE NEED TO PASSOUR PREDICTIONS = X_TEST
- MODEL WILL GIVE Y_PER

In [80]:
y_peridctions=LR.predict(x_test)

In [81]:
y_peridctions

array([5.56936696, 5.66499092, 5.87330358, 5.31713439, 5.96511391,
       5.7005773 , 5.49033898, 6.3980456 , 5.23523248, 5.51411697,
       6.07981547, 6.5895878 , 6.77741988, 5.27823619, 5.24225841,
       4.90945144, 5.92154774, 5.13686887, 5.70992579, 5.70985787,
       5.45199326, 5.10274741, 5.2368805 , 5.90401214, 5.40081464,
       5.94292644, 5.33708425, 5.114852  , 6.08948698, 5.1028634 ,
       5.80254086, 5.12916875, 5.51753116, 5.62812381, 5.15416935,
       4.93588856, 6.5774648 , 5.14582683, 5.94411484, 5.5421482 ,
       5.38067106, 6.29285632, 6.07896389, 5.73064829, 5.81964825,
       5.6904659 , 5.68607482, 5.91340919, 6.023846  , 6.6444947 ,
       6.1485997 , 5.33349483, 6.33770001, 6.67896944, 5.59043304,
       5.90063549, 6.14154679, 5.63836414, 5.13652209, 6.93448727,
       5.37102212, 6.20483587, 6.07983843, 5.20010841, 5.30000538,
       5.29009486, 5.94050169, 5.80199749, 5.79894434, 5.96987008,
       6.57558906, 5.84941937, 6.25420881, 6.06371753, 5.02467711,
       6.26862689, 5.81713201, 5.79432564, 5.26393031, 5.95391271,
       5.62920426, 6.06982331, 5.60927397, 5.12394436, 5.41576381,
       6.11176595, 5.62540212, 4.73043558, 5.75083281, 5.15469113,
       6.12043264, 5.14429624, 5.38143677, 5.30686657, 5.88018977,
       6.01593059, 6.35401086, 5.02014607, 6.42108928, 5.97607821,
       5.0068352 , 5.6516929 , 5.33260835, 5.14728932, 5.19568874,
       5.59215275, 5.68342515, 5.63643642, 5.79159961, 5.24073877,
       5.81474036, 5.2641094 , 5.83262924, 6.08106782, 5.14271676,
       5.38951714, 5.22862461, 6.10049473, 5.16658634, 5.39975859,
       5.1102641 , 5.16338695, 5.56895443, 6.30695024, 6.03338407,
       5.38489345, 5.33348881, 6.37339279, 6.44589993, 5.6901834 ,
       6.50754388, 5.09933303, 6.26440178, 5.17334259, 6.76001713,
       6.13605878, 5.57197447, 5.20404836, 5.2205893 , 4.8194241 ,
       4.75771391, 5.46030719, 5.58094873, 5.20929295, 5.23718811,
       5.62722002, 5.72273352, 5.11496629, 5.46286126, 5.66744255,
       4.8764717 , 5.4151811 , 5.27755332, 6.29852932, 5.34988171,
       5.3852585 , 5.24225818, 5.42184821, 5.63799639, 5.75721701,
       5.05147188, 5.86241262, 6.71413723, 6.17195774, 5.40521017,
       4.97918085, 5.37004462, 5.41738319, 6.42737711, 5.39187689,
       5.11374538, 5.60509649, 5.28135301, 5.97011166, 5.90412391,
       5.80373291, 5.73668939, 5.21348625, 5.83200575, 5.44815359,
       6.29531265, 5.7422442 , 6.06371753, 5.61991069, 5.55827631,
       5.74409824, 6.06607342, 5.61736045, 5.45456919, 6.81721622,
       5.46447838, 6.76717719, 5.34294776, 5.46447838, 5.16215029,
       5.60765652, 4.90436548, 6.25738008, 6.47662237, 6.45689533,
       5.28790546, 6.09278343, 5.54949583, 6.03242218, 6.14586632,
       6.85006771, 6.34372964, 5.71257052, 6.47732015, 5.71733075,
       5.88409774, 5.37342823, 5.78999369, 5.47855178, 6.02603234,
       4.8194241 , 5.343109  , 5.96790591, 5.25032272, 5.72450894,
       5.71520517, 5.65248689, 5.03363413, 5.96022099, 6.02977681,
       6.44805599, 5.08100925, 6.29755102, 5.43675384, 5.8122054 ,
       5.36806538, 5.35582767, 6.05227585, 5.81141965, 5.78782447,
       5.14473671, 5.31551066, 6.60119083, 5.52731287, 5.56468565,
       5.18892877, 5.14630338, 5.54250903, 5.16220598, 6.03121788,
       5.33297258, 5.83923927, 5.15809526, 5.4437728 , 6.17904878,
       5.77819377, 5.5677804 , 6.07798372, 6.31508913, 6.37818486,
       5.98061332, 5.26822567, 6.27022731, 5.70800526, 5.5638883 ,
       6.07877073, 4.55743753, 6.97637889, 6.35862046, 5.37865863,
       5.39535581, 4.89829998, 5.50871125, 5.53285256, 5.70426194,
       6.67864001, 5.51782231, 6.81492239, 5.82892721, 5.4486839 ,
       5.06902515, 6.17815665, 5.0198867 , 6.15463273, 6.86180063,
       6.81721622, 5.95495632, 5.00020707, 5.89548715, 6.44098428,
       5.67575815, 6.51664968, 4.98768992, 6.47800506, 5.90808887,
       4.97759877, 6.08789102, 5.57711721, 6.12052792, 4.25412118,
       5.77436827, 5.53281418, 5.01626671, 5.32721902, 7.68030783,
       4.65739941, 5.91923219, 6.25040109, 5.36606382, 5.40666973,
       5.75077171, 4.7830345 , 5.78475004, 5.2092802 , 5.00084873,
       5.53095978, 6.86180063, 5.77020526, 6.49820754, 5.70874402,
       5.84336113, 6.4697272 , 5.2101232 , 5.10676053, 6.35401086,
       6.05482883, 4.80632901, 5.23163897, 5.60377732, 6.11256344,
       5.66744255, 5.4350336 , 6.01134777, 5.74346191, 6.26380926,
       5.65991213, 6.14190161, 5.31998617, 5.76002243, 5.93781858,
       5.68780269, 5.3350663 , 4.95006367, 4.91274726, 5.98951778,
       4.9148222 , 5.93036388, 5.76582174, 5.77103516, 5.04074582,
       5.66069347, 5.90203888, 5.24996409, 5.73668939, 5.77730663,
       5.80234705, 5.97622673, 5.09838153, 5.81311896, 4.7171302 ,
       5.78099461, 5.49555261, 5.40311557, 6.34829294, 6.2543105 ,
       5.5638883 , 6.16118384, 5.09782636, 6.09416365, 6.53582016,
       5.14913981, 4.6292172 , 5.65432854, 6.05107026, 5.88458469,
       5.7422442 , 5.01950092, 5.04948463, 5.09566482, 5.62536862,
       5.95622069, 5.69729851, 5.37687451, 6.33484019, 6.52140197,
       5.38143677, 5.30846406, 5.34074695, 6.68127658, 5.11787209,
       5.43116614, 6.4718179 , 5.23430281, 5.12186135, 6.08398174,
       5.74332457, 5.36316045, 4.83408435, 5.30755066, 5.37865863,
       5.3124669 , 6.314133  , 6.01999226, 6.0116298 , 4.80789384,
       4.72482529, 5.16986793, 5.94078251, 5.71311551, 5.84270923,
       5.66092198, 5.65502811, 5.686815  , 5.23828546, 5.29501777,
       5.53993851, 5.27494684, 6.24893575, 5.10871917, 5.71946263,
       6.1087268 , 5.05567013, 5.16338695, 5.37102212, 5.27467686,
       5.84670527, 5.30500635, 6.00556477, 5.16220598, 4.90777685,
       5.83200575, 5.3876207 , 6.4270765 , 4.66520682, 5.44237198,
       4.98344245, 5.62725196, 5.97326195, 5.13207513, 5.89991996,
       5.74481602, 6.48397554, 6.04268506, 5.73451387, 6.06583454,
       5.80803142, 6.05501276, 5.82037968, 6.7881057 , 5.18775902,
       5.00080722, 5.52979143, 5.45887287, 5.71655155, 6.56401445,
       6.4009019 , 5.14271676, 5.99871798, 6.02603234, 5.45976965,
       5.77351082, 5.64362094, 6.49514074, 6.29195875, 5.28103425,
       6.45073841, 5.7744788 , 5.58318723, 5.44203947, 5.14271676,
       6.30130457, 6.17296599, 5.59957557, 5.79216449, 5.8352666 ,
       5.35037603, 4.96332509, 6.15354769, 5.04323691, 6.39718126,
       5.22861538, 5.36789989, 6.52402426, 5.14553509, 6.02523603])

In [82]:
y_test.shape,y_peridctions.shape

((480,), (480,))

**NOTE: OUR MODEL IS TRAINED WITH 11 COLUMNS SO WE SHOLD PASS 11 VALUES TO GET THE Y_PER**

In [83]:
x_test.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1526,6.8,0.47,0.08,2.2,0.064,18.0,38.0,0.99553,3.30,0.65,9.6
674,10.8,0.40,0.41,2.2,0.084,7.0,17.0,0.99840,3.08,0.67,9.3

In [84]:
x_test.iloc[0].values

array([ 6.8    ,  0.47   ,  0.08   ,  2.2    ,  0.064  , 18.     ,
       38.     ,  0.99553,  3.3    ,  0.65   ,  9.6    ])

- BATCH PERIDECTIONS
    - AFTER MODEL IS READY WE WILL PASS SOME DATA
    - IN ABOVE EX: WE HAVE PASS 480 TEST DATA
    - IN A BATCH IT IS CALLED AS BATCH PERIDCTIONS

- REALTIME & END POINT PERIDCTIONS
    - AFTER MODEL IS READY WE WILL PASS SINGLE OBSERVATIONS 
    - THUS MODEL WILL GIVE QUICK RESPONCE
    - THIS IS CALLED AS REALTIME PERIDCTIONS
- NOTE:NO OF VALUES WE ARE PASSING IN PERIDCT IS = NO OF COLUMNS

In [85]:
Y_PER=LR.predict([x_test.iloc[0],x_test.iloc[1]])

In [86]:
Y_PER

array([5.56936696, 5.66499092])

In [87]:
per=LR.predict([[1,2,3,4,5,6,7,8,3,2,5]])
per

array([-208.37460386])

# STEP-7

- LETS CHECK WEATHER Y_TEST == Y_PER

In [88]:
test_data=x_test
test_data['y_actual']=y_test
test_data['y_per']=y_peridctions
test_data[['y_actual','y_per']].head(5)

      y_actual     y_per
1526       6.0  5.569367
674        6.0  5.664991
1508       6.0  5.873304
58         5.0  5.317134
1351       6.0  5.965114

- example

In [89]:
# we can also check like this
print(y_test[:5])
print(y_peridctions[:5])

1526    6.0
674     6.0
1508    6.0
58      5.0
1351    6.0
Name: quality, dtype: float64
[5.56936696 5.66499092 5.87330358 5.31713439 5.96511391]

# STEP-8

- MODEL EVALUATION METRICS
  - R_SQUARE,MSE,RMSE
- IT IS ALSO AVALIBLE IN SKLEARN.METRICS

In [90]:
from sklearn.metrics import mean_squared_error,r2_score

In [91]:
MSE=mean_squared_error(y_test,y_peridctions)
R_SQUARE=r2_score(y_test,y_peridctions)
#RMSE WE DONT HAVE METHOD SO
RMSE=np.sqrt(MSE)
print('THE MSE OF DATA IS',MSE)
print('THE R_SQUARE OF DATA IS',R_SQUARE)
print('THE RMSE OF DATA IS',RMSE)

THE MSE OF DATA IS 0.4281645616107649
THE R_SQUARE OF DATA IS 0.32660881529106434
THE RMSE OF DATA IS 0.6543428471457183

In [92]:
================================================================================================================================

SyntaxError: invalid syntax (218896471.py, line 1)

# 12-04-2024

# FEATURE SELECTION METHODS

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# 1 VARIANCE THESHOLD METHOD
- IT IS USED FOR BOTH REGRESSION CLASSIFICATION
    - IF FEATURE IS HAVEING THE CONSTANT VALES THEN WE CAN DROP THE FEATURE
    - example if we have a column of constant values then treshold == 0 so we can drop the column 
- 2 This method is avalible in sklean.feature_selection

In [94]:
#example 
dict1={'a':[10,20,30],'b':[10,10,10],'c':[100,200,300]}
df=pd.DataFrame(dict1)
from sklearn.feature_selection import VarianceThreshold
VT=VarianceThreshold(threshold=0.0)
VT.fit(df)

VarianceThreshold()

In [95]:
# this method is used to see variances
VT.variances_

array([ 20.,   0., 200.])

In [96]:
#used to see variance
VT.threshold

0.0

In [97]:
# if False we can drop the column
VT.get_support()

array([ True, False,  True])

In [98]:
# gives o/p of non_variance features
col=VT.get_feature_names_out()
# this gives o/p of column names this only we want to include

In [99]:
df[col]

    a    c
0  10  100
1  20  200
2  30  300

- NOW LETS APPLY FOR OUR ORIGINAL DATASET

In [100]:
path=r"C:\Users\kragh\Data Files\winequality_red - winequality_red.csv"
wine_df=pd.read_csv(path)
wine_df.head(3)
wine_df.dropna(inplace=True)
wine_df.reset_index(drop=True,inplace=True)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\kragh\\Data Files\\winequality_red - winequality_red.csv'

In [ ]:
wine_df.head(2)

- WE SHOULD APPLY ONLY INPUT COLUMNS

In [101]:
all_columns=wine_df.drop('quality',axis=1)

- NOW IMPORT Variance_treshold

In [102]:
from sklearn.feature_selection import VarianceThreshold
VT=VarianceThreshold(threshold=1)
#by default=0 but we will keep as 1
VT.fit(all_columns)

VarianceThreshold(threshold=1)

In [103]:
VT.variances_
# here we got variance of above 1 out variance is 0 so, no drop of column

array([3.02952057e+00, 3.20423261e-02, 3.79237511e-02, 1.98665392e+00,
       2.21375732e-03, 1.09346457e+02, 1.08142564e+03, 3.55980179e-06,
       2.38202742e-02, 2.87146470e-02, 1.13493717e+00])

In [104]:
VT.get_support()

array([ True, False, False,  True, False,  True,  True, False, False,
       False,  True])

In [105]:
# now we have to include this columns only 
after_columns=VT.get_feature_names_out()

In [106]:
df=all_columns[after_columns]
df.head(3)

,fixed acidity,residual sugar,free sulfur dioxide,total sulfur dioxide,alcohol
0,7.4,1.9,11.0,34.0,9.4
1,7.8,2.6,25.0,67.0,9.8
2,7.8,2.3,15.0,54.0,9.8

**NOTE:THIS ARE OUR COLUMNS FINALLY**

# METHOD-2

# Mutual info classify
   - Information gain
   - it says about how much relation (or) gain w.r.t o/p varable
   - we have to divide the data into X & Y
   - if gain is high inculde that columns
- here we use entropy and knn methods

In [107]:
#rd data
wine_df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0

- divide data into x and y

In [108]:
X=wine_df.drop('quality',axis=1)
Y=wine_df['quality']

- Now import the method called mutual_info_classify

In [109]:
from sklearn.feature_selection import mutual_info_classif
MIC=mutual_info_classif(X,Y)

In [110]:
# now we have got the gain
MIC

array([0.05349937, 0.11735813, 0.0778571 , 0.01933116, 0.04971828,
       0.02787712, 0.07721573, 0.09265229, 0.01546701, 0.09946142,
       0.16309004])

In [111]:
#now lets make data frame
df=pd.DataFrame(MIC,columns=['INFORMATION GAIN'],index=X.columns)
df.sort_values('INFORMATION GAIN',ascending=False)
# now which ever is having highest gain take that columns and other columns leave them

                      INFORMATION GAIN
alcohol                       0.163090
volatile acidity              0.117358
sulphates                     0.099461
density                       0.092652
citric acid                   0.077857
total sulfur dioxide          0.077216
fixed acidity                 0.053499
chlorides                     0.049718
free sulfur dioxide           0.027877
residual sugar                0.019331
pH                            0.015467

- NOW WE NEED TO SELECT THE COLUMNS THAT ARE HAVE HIGHEST GAIN
- FOE THIS WE HAVE A METHOD AS SelectKBest

In [112]:
from sklearn.feature_selection import SelectKBest,mutual_info_classif

In [113]:
X=wine_df.drop('quality',axis=1)
Y=wine_df['quality']

In [114]:
top5=SelectKBest(mutual_info_classif,k=5)

In [115]:
data=top5.fit(X,Y)

In [116]:
data.get_feature_names_out()

array(['volatile acidity', 'total sulfur dioxide', 'density', 'sulphates',
       'alcohol'], dtype=object)

In [117]:
#this are top five features having highest gain
wine_df[data.get_feature_names_out()]

      volatile acidity  total sulfur dioxide  density  sulphates  alcohol
0                0.700                  34.0  0.99780       0.56      9.4
1                0.880                  67.0  0.99680       0.68      9.8
2                0.760                  54.0  0.99700       0.65      9.8
3                0.280                  60.0  0.99800       0.58      9.8
4                0.700                  34.0  0.99780       0.56      9.4
...                ...                   ...      ...        ...      ...
1594             0.600                  44.0  0.99490       0.58     10.5
1595             0.550                  51.0  0.99512       0.76     11.2
1596             0.510                  40.0  0.99574       0.75     11.0
1597             0.645                  44.0  0.99547       0.71     10.2
1598             0.310                  42.0  0.99549       0.66     11.0

[1599 rows x 5 columns]

# METHOD-3

# P-VALUE

- WE CAN DEVELOP ML MODEL WITH SKLEARN PACKAGE 
- OTHER ONE IS STATS PACKAGE

- sklean
  - it gives linearregression,mse,rmse,rsquare
  - it wont give p-value
- ststs
  - this will give OLS,coefficient,rsquare
  - it also gives p-value

In [1]:
from statsmodels.api import OLS

In [2]:
OLS(Y,X).fit().summary()

NameError: name 'Y' is not defined

- BY ABOVE TABLE
- FOR ALPHA=0.05
- AS WE KNOW P>ALPHA NOT-REQUECT THE NULLHYPOTHESIS
- STATEMENT IS NO RELATION B/W O/P & I/P  VARABLE
- THAT MEANS EXCLUDE THE FEATURE 
- BY ABOVE EXAMPLE
- WE CAN REJECT fixed acidity,citric acid,residual sugar THIS 3 FEATURES

# METHOD-4

- VIF
- vif gives weather input varables have multicolinearity between input varables 
- by using Rsquare logic
- by keeping 1 varable as output and checking the relation
- as alternativley repeating

In [120]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_df=pd.DataFrame()

In [121]:
# columns
vif_df['featurs']=X.columns
vif_df['VIF']=[variance_inflation_factor(X.values,i) for i in range(len(X.columns))]

In [122]:
vif_df

                 featurs          VIF
0          fixed acidity    74.452265
1       volatile acidity    17.060026
2            citric acid     9.183495
3         residual sugar     4.662992
4              chlorides     6.554877
5    free sulfur dioxide     6.442682
6   total sulfur dioxide     6.519699
7                density  1479.287209
8                     pH  1070.967685
9              sulphates    21.590621
10               alcohol   124.394866

- GENERALLY WE SHOULD INCLUDE THE COLUMNS WHICH ARE HAVEING VIF<=10
- 10 VIF REJECT THEM

In [123]:
================================================================================================================================

SyntaxError: invalid syntax (218896471.py, line 1)

# 13-04-2024

# SAVE THE MODEL

- AFTER THE MODEL IS READY WE NEED TO SAVE THE MODEL 
- HERE WE HAVE 2 METHODS
- PICKLE
- joblib

- our ML model is == LR

- PKL=METHOD
- DUMP=USED TO DUMP THE MODEL
- OPEN 
- Linear_regression_model.pkl== MODEL PKL.EXTENTATION
- wb= WRITEING THE DATA

In [124]:
import pickle as pkl
pkl.dump(LR,
         open('Linear_regression_model.pkl','wb'))
# now our model is ready now we can check this where our python file is existed

- NOW THIS MODEL WE CAN SHARE WITH ANY ONE

- HOW TO UPLOAD THE MODEL

In [125]:
model=pkl.load(open('Linear_regression_model.pkl','rb'))
model

LinearRegression()

- NOW ASSUME THAT I WAS A CLIENT 
- MODEL IS REDAY WHICH WAS PREPARED BY OMKAR SIR
- NOW I NEED TO LOAD THE MODEL AND APPLY THE X_TEST DATA

In [126]:
# READ THE TEST DATA

In [127]:
test_df=pd.read_csv(r'C:\Users\kragh\OneDrive\DATA SCIENCE NIT\Data Files\test.csv')

In [128]:
test_df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.7,0.66,0.04,1.6,0.039,4.0,9.0,0.99620,3.40,0.47,9.4
1,7.1,0.56,0.14,1.6,0.078,7.0,18.0,0.99592,3.27,0.62,9.3
2,8.1,0.72,0.09,2.8,0.084,18.0,49.0,0.99940,3.43,0.72,11.1

In [129]:
# load the model

In [130]:
import pickle as pkl
MODEL=pkl.load(open(r'C:\Users\kragh\OneDrive\Desktop\Linear_regression_wine_with_flask\Linear_regression_with_flask\linear_wine_model.pkl','rb'))

In [131]:
# PREDICT
Y_per=MODEL.predict(test_df)

In [132]:
Y_per

array([5.15272674, 5.32546327, 5.63662519, 5.51245819, 6.35588496,
       5.39028618, 5.37580837, 5.94379165, 5.49446987, 6.98211458,
       4.92847919, 5.18177228, 5.73271386, 5.56085417, 5.53985028,
       5.25272042, 4.93424659, 5.12423646, 6.27626835, 5.12589226,
       5.06691612, 5.91039778, 5.1797551 , 5.45854364, 5.72531378,
       6.31002431, 5.30913419, 5.50678991, 6.04808131, 5.47609822,
       4.72291628, 6.20818055, 5.21920961, 5.62421184, 5.55062526,
       5.52259916, 6.36735043, 5.23288886, 5.49938736, 5.80792898,
       5.16587916, 6.13318292, 5.72636822, 5.33537114, 5.63701918,
       4.96463531, 4.88029661, 5.78938553, 6.36333952, 5.56149953,
       4.95005899, 5.75085354, 6.67236186, 6.16951277, 5.34056761,
       5.12096361, 6.19641543, 5.21584694, 6.46449078, 5.25590493,
       5.27667097, 5.17871421, 5.09122333, 5.63083824, 5.01946398,
       6.16336001, 5.7427919 , 6.337122  , 5.28732968, 6.05063646,
       5.7342916 , 5.57340483, 5.21043842, 6.18633591, 5.50678991,
       5.3453067 , 5.99997768, 6.51564794, 4.85375662, 5.04018732,
       5.72499592, 5.59626211, 5.73949584, 5.95489086, 5.34697269,
       4.99839179, 6.13681154, 5.32302661, 6.01068016, 6.12678637,
       6.52768314, 5.39538409, 5.9974906 , 4.99004327, 5.44790697,
       5.86843828, 5.26806983, 6.65075932, 6.61072464, 5.99997768,
       5.37579844, 5.48785095, 4.94241599, 5.53013394, 5.51054593,
       5.25914217, 5.89858025, 5.16978949, 5.40527552, 5.44913755,
       6.38388834, 5.54138872, 6.22755065, 5.35050741, 5.55565805,
       5.69996464, 5.35611312, 5.91795566, 6.84295266, 5.21736143,
       5.93685756, 6.02728227, 5.65516136, 6.33585096, 6.11727608,
       5.10631555, 5.21930664, 6.51527783, 6.29685541, 6.23764222,
       5.2792288 , 5.03871695, 5.88172061, 5.0851889 , 5.27738598,
       6.35828943, 5.89939941, 5.45905811, 5.41928796, 5.57217489,
       5.93356169, 4.83777751, 5.43045252, 5.14580263, 5.75145727,
       5.77227893, 5.20511824, 6.22744476, 6.15111159, 5.37199058,
       5.43837324, 5.77768114, 6.61866538, 6.74493635, 5.99429439,
       5.77421449, 5.71445701, 5.63158268, 6.53617359, 5.61226567,
       6.41524291, 5.85713158, 6.03657959, 5.36589905, 5.79504901,
       6.15045308, 5.34746564, 4.18492552, 5.78179004, 5.9409628 ,
       4.87152252, 5.75689927, 4.97026015, 5.74576868, 6.55745611,
       6.04292031, 5.32973134, 5.52682185, 5.71987688, 4.93131525,
       6.04719996, 5.20606774, 5.85001588, 6.56279324, 5.22784496,
       5.13583528, 6.49406669, 6.67080913, 5.86790849, 6.22543582,
       5.99898464, 5.48676406, 4.68758173, 6.42891816, 5.3780084 ,
       4.72596428, 5.35624776, 6.98166918, 5.30720706, 5.01009976,
       5.9095069 , 5.89788367, 5.74541352, 4.97661924, 6.64061995,
       5.56824532, 5.88970167, 5.10254921, 5.03266072, 4.78859962,
       5.66137988, 5.01756041, 5.70331509, 5.08378929, 5.91679978,
       6.69986908, 5.31928286, 5.34669749, 5.31734828, 5.6188404 ,
       5.6103356 , 5.88657821, 4.82255134, 5.47617034, 5.82141836,
       4.96924459, 5.45555462, 6.15466593, 5.60961275, 5.97937907,
       6.29141847, 5.49532602, 5.7427919 , 5.02129556, 5.42567123,
       5.30376592, 6.44506134, 5.79457654, 5.85840874, 6.40681931,
       5.23356207, 5.09446531, 6.29040996, 5.23133575, 5.20440993,
       4.91613205, 4.85264526, 5.77402591, 6.44998907, 6.27228383,
       5.66752455, 5.77214065, 6.2457379 , 5.01756041, 5.88530413,
       5.46922842, 5.31254547, 5.16197206, 5.84930403, 5.45790288,
       5.45284814, 5.0309555 , 6.11126538, 6.39353084, 5.95035988,
       6.16294412, 6.11799254, 5.859645  , 5.32664826, 5.34056761,
       5.06423962, 5.32051406, 5.43624309, 5.33971951, 5.58178758,
       5.75588456, 6.04024883, 4.91167335, 5.60170434, 5.32877713,
       6.22983414, 5.89614721, 5.93360527, 5.39888101, 5.2739361 ,
       5.73794177, 5.86555862, 5.03944697, 5.32346217, 5.74101128,
       6.40284138, 5.96305686, 4.93108229, 5.90456997, 5.71279268,
       5.61244954, 5.14567686, 5.36421345, 4.96924459, 5.38200614,
       5.93259413, 6.61817345, 5.9401426 , 5.09222651, 6.59461735,
       6.37818219, 5.76677648, 5.00550284, 5.6642651 , 5.09132685,
       5.35617409, 5.0856266 , 5.76205873, 5.58353651, 6.11360811,
       5.26670428, 5.1502229 , 6.35872853, 5.78881572, 5.12077223,
       6.20379015, 5.12846456, 5.245733  , 5.62421184, 5.33216794,
       4.63391647, 6.67080913, 5.30197384, 6.07737771, 5.08945872,
       6.3404451 , 5.00101501, 5.76082175, 4.78681399, 5.43540031,
       5.5933712 , 5.20854044, 5.53965055, 5.51286652, 6.09119691,
       6.89645836, 6.5818963 , 6.51616813, 6.7389971 , 5.13583528,
       5.04542379, 5.55565805, 5.81421595, 5.8596704 , 5.5371316 ,
       5.52159867, 6.08766214, 5.33673345, 5.21641764, 5.5881843 ,
       4.83649958, 6.54755782, 6.15975664, 5.18758997, 5.543044  ,
       6.37948308, 5.27430664, 5.41978692, 5.95011166, 6.15443962,
       5.43156985, 5.17851884, 5.71776488, 5.31049826, 6.29287608,
       5.16405155, 5.51987093, 5.94985843, 5.45261618, 6.1957446 ,
       6.22450256, 6.34398536, 5.02138294, 5.08230935, 5.63470779,
       5.75689927, 5.56268525, 4.61066841, 5.6356401 , 5.91613694,
       4.96621268, 5.10918278, 5.66306872, 4.79517341, 5.79608951,
       6.11360811, 6.23317938, 5.15817553, 5.66531897, 5.37580837,
       5.25189877, 6.5720807 , 5.24409385, 5.55140543, 6.45336013,
       6.40942246, 4.83234267, 5.30326782, 4.96473992, 7.52775146,
       5.42951778, 6.38524949, 6.37419061, 6.63801798, 6.05922706,
       5.73767049, 6.03642831, 4.83223993, 6.24020332, 5.72479784,
       5.18607442, 5.05450429, 5.11697949, 5.13412713, 5.52440323,
       5.64867525, 4.98224538, 6.09363224, 5.44051117, 5.81230694,
       5.46789186, 4.55788622, 6.4346495 , 6.83493526, 5.55577486,
       5.78380845, 6.26550268, 5.16451239, 5.64312174, 5.19935697,
       6.36699511, 4.96641745, 5.86934155, 5.76462945, 6.36547688,
       5.57273104, 5.67822167, 5.3098559 , 5.32346217, 5.80379403,
       5.05273644, 4.89716249, 4.94106077, 4.39448333, 5.35399193,
       5.95011166, 5.47056853, 5.09916641, 6.15419278, 5.32886401,
       5.55946617, 6.39503255, 5.51496826, 5.09226489, 5.98738087,
       6.16951277, 5.66535961, 4.85264526, 5.32570564, 6.08694216,
       5.71886682, 6.18670867, 5.16933689, 5.47617034, 5.1985077 ,
       5.37466118, 5.4969461 , 5.11061722, 5.07457111, 6.43458746,
       5.16307079, 5.55639097, 6.16741756, 5.27142375, 5.67409146])

In [139]:
x_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1526,6.8,0.47,0.08,2.2,0.064,18.0,38.0,0.99553,3.30,0.65,9.6
674,10.8,0.40,0.41,2.2,0.084,7.0,17.0,0.99840,3.08,0.67,9.3
1508,7.1,0.27,0.60,2.1,0.074,17.0,25.0,0.99814,3.38,0.72,10.6
58,7.8,0.59,0.18,2.3,0.076,17.0,54.0,0.99750,3.43,0.59,10.0
1351,7.2,0.62,0.01,2.3,0.065,8.0,46.0,0.99332,3.32,0.51,11.8
...,...,...,...,...,...,...,...,...,...,...,...
125,9.0,0.62,0.04,1.9,0.146,27.0,90.0,0.99840,3.16,0.70,9.4
540,9.2,0.59,0.24,3.3,0.101,20.0,47.0,0.99880,3.26,0.67,9.6
1162,8.5,0.32,0.42,2.3,0.075,12.0,19.0,0.99434,3.14,0.71,11.8
1203,9.9,0.74,0.19,5.8,0.111,33.0,76.0,0.99878,3.14,0.55,9.4
813,6.9,0.39,0.24,2.1,0.102,4.0,7.0,0.99462,3.44,0.58,11.4

In [143]:
x_test.to_csv('test_data_winedf.csv',index=False)

In [145]:
pd.read_csv('test_data_winedf.csv')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,6.8,0.47,0.08,2.2,0.064,18.0,38.0,0.99553,3.30,0.65,9.6
1,10.8,0.40,0.41,2.2,0.084,7.0,17.0,0.99840,3.08,0.67,9.3
2,7.1,0.27,0.60,2.1,0.074,17.0,25.0,0.99814,3.38,0.72,10.6
3,7.8,0.59,0.18,2.3,0.076,17.0,54.0,0.99750,3.43,0.59,10.0
4,7.2,0.62,0.01,2.3,0.065,8.0,46.0,0.99332,3.32,0.51,11.8
...,...,...,...,...,...,...,...,...,...,...,...
475,9.0,0.62,0.04,1.9,0.146,27.0,90.0,0.99840,3.16,0.70,9.4
476,9.2,0.59,0.24,3.3,0.101,20.0,47.0,0.99880,3.26,0.67,9.6
477,8.5,0.32,0.42,2.3,0.075,12.0,19.0,0.99434,3.14,0.71,11.8
478,9.9,0.74,0.19,5.8,0.111,33.0,76.0,0.99878,3.14,0.55,9.4
479,6.9,0.39,0.24,2.1,0.102,4.0,7.0,0.99462,3.44,0.58,11.4